{% extends 'base.html.twig' %}

{% block title %}Accueil - Immo78{% endblock %}

{% block body %}

<div class="container">

    <div class="p-5 mb-4 rounded-3">
        <div class="container-fluid py-5 text-center">
            <h1 class="display-5 fw-bold">L'immobilier sur Mantes la jolie et alentours</h1>
            <button class="btn btn-outline-light fw-bold" type="button">Voir nos biens
                disponibles</button>
        </div>
    </div>

</div>
{% endblock %}