{# home page : This page shows the last 3 properties #}

{% extends 'base.html.twig' %}

{% block title %}Accueil - Immo78{% endblock %}

{% block body %}

<div class="container" style="max-width: 1020px;">

    <!-- INTRO BLOCK -->
    <section class="py-4 row align-items-center">
        <div class="col-6">
            <h1 class="fs-2">L'immobilier sur Mantes la jolie et alentours</h1>
            <a href="{{ path('property.index') }}" class="btn border border-dark fw-bold"
                style="transition: all 300ms ease 0s; opacity:1;" onmouseout="this.style.opacity=1"
                onmouseover="this.style.opacity=0.5">Voir les offres disponibles</a>
        </div>
        <div class="col-6">
            <img class="illustration-home" src="{{ asset('images/property-illustration.png') }}"
                alt="illustration d'une maison" width="100%">
        </div>
    </section>

    <!-- LAST PROPERTIES BLOCK -->
    <section>
        <h2 class="py-3 text-center">Les derniers biens publiés</h2>
        <div class="row justify-content-between mb-5">
            {% for property in properties %}
            {{ include('property/_property.html.twig') }}
            {% endfor %}
        </div>
    </section>

    <!-- LAST NEWS BLOCK -->
    <section>
        <h2 class="py-3 text-center">Actualité récente sur l'immobilier</h2>
        <div class="row justify-content-center mb-5">
            {% for article in news %}
            {{ include('news/_article.html.twig') }}
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}