/* Picture animation in home page*/
.illustration-home {
    animation-name: display-slowly;
    animation-duration: 2s;
    position: relative;
}

@keyframes display-slowly {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}