{# email template for aknowledgement after contact #}
{# note : set a complete layout for email templates #}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <p>Bonjour {{ firstName }} {{ lastName }},</p>

    <p>Vous nous avez contacté à propos de {{ property_title }}.</p>

    <p>Votre message a bien été reçu, nous reviendrons vers vous dès que possible.</p>

    <p>Votre agence Immo78.</p>

</body>

</html>