{# admin option edit page : This page shows one option to edit (back office) #}

{% extends 'base.html.twig' %}

{% block title %}Gérer les biens - Immo78{% endblock %}

{% block body %}

<div class="container mt-4">
    <h1>Editer l'option</h1>

    {{ include('admin/option/_form.html.twig', {form: form, button: 'Editer'}) }}

</div>
{% endblock %}