{# admin option new page : This page is used to create a new option (back office) #}

{% extends 'base.html.twig' %}

{% block title %}Gérer les options - Immo78{% endblock %}

{% block body %}

<div class="container my-4" style="max-width: 1020px;">
    <h3>Ajouter une option</h3>
    {{ include('admin/option/_form.html.twig', {form: form, button: 'Créer'}) }}
    <div>
        <a class="btn btn-danger" href="{{ path('admin.option.index') }}">Retour</a>
    </div>
</div>
{% endblock %}